@use "./componants/reset";
@use "./componants/about";
@use "./componants/features";
@use "./componants/pricing";
@use "./componants/global";
@use "./componants/testimonial";
@use "./componants/help";
@use "./componants/footer";
@use "./componants/media";
