/* ABOUT SECTION */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem 0;
}

.about__data {
  flex: 1 1 400px;
}

.about__heading {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about__heading b {
  color: #0b132a;
}

.about__description {
  color: var(--text-gray);
  font-size: 1rem;
  margin-bottom: 4rem;
}

.start__button {
  width: 250px;
  height: 60px;
  text-decoration: none;
  background-color: var(--red);
  color: #fff;
  padding: 1.2rem 5rem;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.start__button:hover {
  background-color: var(--red);
  box-shadow: 0 8px 20px var(--red);
  transform: translateY(-3px);
}

/* ABOUT IMAGE */
.about__pic-content {
  flex: 1 1 400px;
  text-align: center;
  max-width: 611.2px;
  width: 100%;
  height: 382.4px;
}

.about__pic {
  width: 100%;
  height: auto;
}

/* ICONS */
.icons {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  max-width: 1140px;
  width: 100%;
  height: 200px;
  padding: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex: 1 1 150px;
  min-width: 150px;
  height: 125.57px;
}

.icon:not(:last-child) {
  border-right: 2px solid var(--border-light);
}

.icons__number {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.icons__title {
  color: var(--text-gray);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
