/* GLOBAL SECTION */
.global {
  width: 100%;
  padding: 6rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.global__data {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 1rem;
}

.global__title {
  font-family: var(--main-font);
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--text-dark);
  line-height: 1.3;
}

.global__description {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  color: #4f5665;
  margin-bottom: 5rem;
}

.global__img {
  display: flex;
  flex-direction: column;
  min-width: 1059.9px;
  width: 100%;
  height: 537.7px;
  margin-bottom: 4rem;
  align-items: center;
}

.global__img2 {
  display: flex;
  flex-direction: column;
  max-width: 1135.64px;
  width: 100%;
  height: 208.31px;
  padding: 0 1rem;
  align-items: center;
}
