/* SUBSCRIPTION SECTION */
.help {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.subscription {
  width: 100%;
  max-width: 1100px;
  background: #ffffff;
  padding: 3rem 4rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 30px 60px rgba(13, 16, 37, 0.096);
}

.subscription__data {
  max-width: 371.7px;
}

.subscription__title {
  font-family: var(--main-font);
  font-size: 35px;
  font-weight: 500;
  color: #0b132a;
  margin-bottom: 0.8rem;
}

.subscription__description {
  color: #4f5665;
  font-size: 16px;
}

.subscription__button .subscrption-btn {
  background: #f53838;
  color: #fff;
  padding: 0.9rem 2.5rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  display: inline-block;

  transition: 0.3s ease;
}

.subscription__button .subscrption-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 20px 40px rgba(245, 56, 56, 0.35);
}
